.git
.github
.env
.env.*
!.env.example
.venv
venv
**/__pycache__
**/*.py[cod]
**/*.egg-info
.pytest_cache
.ruff_cache
.mypy_cache
.cache
lightrag_webui/node_modules
lightrag/api/webui
data
inputs
rag_storage
tests
docs
examples
reproduce
*.log
build
dist
.idea
.vscode
.DS_Store
